src/3. Bootstrapper Example/before/Superheroes.Repository.Service/Service References/WCF/SuperheroService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Superheroes.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Superheroes.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSuperhero">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Superhero" nillable="true" type="tns:Superhero" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuperhero" nillable="true" type="tns:ArrayOfSuperhero" />
  <xs:complexType name="Superhero">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstPublished" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Superhero" nillable="true" type="tns:Superhero" />
</xs:schema>