src/2. Tight Coupling Example/before/Superheroes.Repository.Service/Service References/WCF/SuperheroService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SuperheroService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1502/SuperheroService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1502/SuperheroService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1502/SuperheroService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Superheroes.DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISuperheroService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_UpdateAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAll" />
  </wsdl:message>
  <wsdl:message name="ISuperheroService_UpdateAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllResponse" />
  </wsdl:message>
  <wsdl:portType name="ISuperheroService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuperheroService/GetAll" message="tns:ISuperheroService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuperheroService/GetAllResponse" message="tns:ISuperheroService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuperheroService/Get" message="tns:ISuperheroService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuperheroService/GetResponse" message="tns:ISuperheroService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuperheroService/Add" message="tns:ISuperheroService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuperheroService/AddResponse" message="tns:ISuperheroService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuperheroService/Update" message="tns:ISuperheroService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuperheroService/UpdateResponse" message="tns:ISuperheroService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuperheroService/Delete" message="tns:ISuperheroService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuperheroService/DeleteResponse" message="tns:ISuperheroService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuperheroService/UpdateAll" message="tns:ISuperheroService_UpdateAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuperheroService/UpdateAllResponse" message="tns:ISuperheroService_UpdateAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISuperheroService" type="tns:ISuperheroService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ISuperheroService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/ISuperheroService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ISuperheroService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ISuperheroService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISuperheroService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAll">
      <soap:operation soapAction="http://tempuri.org/ISuperheroService/UpdateAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SuperheroService">
    <wsdl:port name="BasicHttpBinding_ISuperheroService" binding="tns:BasicHttpBinding_ISuperheroService">
      <soap:address location="http://localhost:1502/SuperheroService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>